.poster {
  width: 220px;
  height: 315px;

  position: relative;
  background-size: cover;
  border: 2px solid black;
  background-repeat: no-repeat;
}

.filterCards {
  display: flex;
  flex-direction: row;
  height: auto;
  flex-wrap: wrap;
  justify-content: center;
  padding-inline: 3%;

  gap: 16px;
}

p-card {
  display: inline-block;
  width: 220px;
  margin-bottom: 32px;
}

.anime-info {
  height: 200px;
  width: 220px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
