<app-header></app-header>

<!-- TODO: Sticky header with category tabs here -->

<app-dropdowns (filtersAlert)="setFilters($event)"></app-dropdowns>

<div class="filterCards">
  <div
    *ngFor="let anime of animeData"
    [ngbTooltip]="tipContent"
    tooltipClass="my-custom-class"
    class="card-container"
  >
    <p-card [style]="{ width: '220px' }">
      <!-- Tooltip with anime info.Appears when user hovers the mouse -->
      <ng-template #tipContent tooltipClass="my-custom-class">
        <div class="teste">
          <span>{{ anime.attributes.ageRatingGuide }}</span>
          <span>{{ anime.attributes.showType }}</span>
          <span>{{ anime.attributes.averageRating }}</span>
          <span>{{ anime.attributes.totalLength }}</span>
          <span>{{ anime.attributes.status }}</span>
        </div>
      </ng-template>

      <ng-template pTemplate="header">
        <a [routerLink]="['/anime', anime.id]">
          <img
            alt="Card"
            src="{{ anime.attributes.posterImage.original }}"
            class="poster"
          />
        </a>
      </ng-template>
    </p-card>
    <div class="anime-info">
      <a [routerLink]="['/anime', anime.id]">
        <p>
          {{
            anime.attributes.titles.en
              ? anime.attributes.titles.en
              : "No title available"
          }}
        </p>
      </a>
    </div>
  </div>
</div>
