<app-header></app-header>

<!-- TODO: Sticky header with category tabs here -->

<app-dropdowns (filtersAlert)="setFilters($event)"></app-dropdowns>

<div class="container-flex" *ngIf="home; else animeByYear">
  <div class="section-title">
    <h1>Trending Anime</h1>
  </div>
  <app-slider [animeData]="trendingData"></app-slider>

  <div class="section-title">
    <h1>Drama</h1>
  </div>
  <app-slider [animeData]="dramaData"></app-slider>

  <div class="section-title">
    <h1>Action</h1>
  </div>
  <app-slider [animeData]="actionData"></app-slider>

  <div class="section-title">
    <h1>Horror</h1>
  </div>
  <app-slider [animeData]="horrorData"></app-slider>

  <div class="section-title">
    <h1>Slice of Life</h1>
  </div>
  <app-slider [animeData]="sliceData"></app-slider>
</div>

<ng-template #animeByYear>
  <!-- <div class="hero">
    <ng-container *ngFor="let anime of animeData">
      <div
        class="poster"
        [ngStyle]="{
          'background-image':
            'url(' + anime.attributes.posterImage.original + ')'
        }"
      ></div>

      <div>
        <span>{{ anime.attributes.titles.en }}</span>
        <span>{{ anime.attributes.startDate }}</span>
        <span>{{ anime.relationships.genres.links.related }}</span>
      </div>
    </ng-container>
  </div> -->
  <div class="filterCards">
    <p-card [style]="{ width: '220px' }" *ngFor="let anime of animeData">
      <ng-template pTemplate="header">
        <a [routerLink]="['/anime', anime.id]">
          <img
            alt="Card"
            src="{{ anime.attributes.posterImage.original }}"
            class="poster"
          />
        </a>
      </ng-template>
      <div class="anime-info">
        <a [routerLink]="['/anime', anime.id]">
          <h5>
            {{
              anime.attributes.titles.en
                ? anime.attributes.titles.en
                : "No title available"
            }}
          </h5>
        </a>
        <p>{{ anime.attributes.startDate }}</p>
      </div>
    </p-card>
  </div>
</ng-template>
