.container-flex {
  display: flex;
  flex-direction: column;
}

.section-title {
  align-self: center;
}

.poster {
  width: 220px;
  height: 315px;
  border-radius: 5px;
  position: relative;
  background-size: cover;

  background-repeat: no-repeat;
}

.hero {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.span {
  position: absolute;
  bottom: 0;
}

.filterCards {
  display: flex;
  flex-direction: row;
  height: auto;
  flex-wrap: wrap;
  justify-content: center;
  padding-inline: 11%;

  gap: 48px;
}

p-card {
  display: inline-block;
  width: 220px;
}

.anime-info {
  height: 64px;
  width: 220px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
}

.tooltip-hover {
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: start;
  color: white;
  font-size: small;
}

.tooltip-title {
}

.card-container {
  display: flex;
  flex-direction: column;
}

.no-data {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 128px;
}

.no-data i {
  font-size: 12rem;
}

.no-data h2 {
  color: #adb3af;
}

span i {
  margin-left: 8px;
}
