<mat-card>
  <div>
    <img
      *ngIf="
        characterData.character.data.attributes.image !== null;
        else noImage
      "
      class="image"
      [src]="characterData.character.data.attributes.image.original"
    />

    <ng-template #noImage>
      <div class="image no-image">
        <i class="fa-solid fa-question" style="color: #adb3af"></i>
      </div>
    </ng-template>

    <p>
      <span>{{ characterData.character.data.attributes.names.en }}</span>
      //
      <span>{{ characterData.character.data.attributes.names.ja_jp }}</span>
    </p>
  </div>

  <p id="description">
    {{ characterData.character.data.attributes.description }}
  </p>
</mat-card>
