<div class="hero">
  <form>
    <mat-form-field>
      <mat-label>Search for animes</mat-label>
      <input
        [(ngModel)]="search"
        (ngModelChange)="searchAnimes()"
        name="search"
        matInput
      />
    </mat-form-field>
  </form>

  <div class="container-flex">
    <div class="row">
      <div class="col">
        <div ngbDropdown class="d-inline-block">
          <button
            type="button"
            class="btn btn-outline-primary"
            id="dropdownBasic1"
            ngbDropdownToggle
            [ngClass]="{
              'btn-selected': selectedYear !== undefined,
              'btn-outline-selected': selectedYear !== undefined
            }"
          >
            {{ selectedYear || "Select a year" }}
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem (click)="setYear(undefined)">Any</button>
            <button ngbDropdownItem (click)="setYear('2022')">2022</button>
            <button ngbDropdownItem (click)="setYear('2023')">2023</button>
            <button ngbDropdownItem (click)="setYear('2022')">2022</button>
            <button ngbDropdownItem (click)="setYear('2021')">2021</button>
            <button ngbDropdownItem (click)="setYear('2020')">2020</button>
            <button ngbDropdownItem (click)="setYear('2019')">2019</button>
            <button ngbDropdownItem (click)="setYear('2018')">2018</button>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div ngbDropdown class="d-inline-block">
          <button
            type="button"
            class="btn btn-outline-primary"
            id="dropdownBasic1"
            ngbDropdownToggle
            [ngClass]="{
              'btn-selected': selectedGenres[0] !== undefined,
              'btn-outline-selected': selectedGenres[0] !== undefined
            }"
          >
            {{
              selectedGenres.length === 0
                ? "Select a genre"
                : selectedGenres.length === 1
                ? (selectedGenres[0] | capitalize)
                : (selectedGenres[0] | capitalize) +
                  " + " +
                  (selectedGenres.length - 1)
            }}
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem (click)="setGenre('')">Any</button>
            <button
              ngbDropdownItem
              (click)="setGenre(genre.slug)"
              *ngFor="let genre of availableGenres"
            >
              {{ genre.name }}
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div ngbDropdown class="d-inline-block">
          <button
            type="button"
            class="btn btn-outline-primary"
            id="dropdownBasic1"
            ngbDropdownToggle
            [ngClass]="{
              'btn-selected': selectedSeason !== undefined,
              'btn-outline-selected': selectedSeason !== undefined
            }"
          >
            {{
              selectedSeason ? (selectedSeason | capitalize) : "Select a season"
            }}
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem (click)="setSeason(undefined)">Any</button>
            <button ngbDropdownItem (click)="setSeason('spring')">
              Spring
            </button>
            <button ngbDropdownItem (click)="setSeason('summer')">
              Summer
            </button>
            <button ngbDropdownItem (click)="setSeason('fall')">Fall</button>
            <button ngbDropdownItem (click)="setSeason('winter')">
              Winter
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div ngbDropdown class="d-inline-block">
          <button
            type="button"
            class="btn btn-outline-primary"
            id="dropdownBasic1"
            ngbDropdownToggle
            [ngClass]="{
              'btn-selected': selectedRating !== undefined,
              'btn-outline-selected': selectedRating !== undefined
            }"
          >
            {{ selectedRating ? selectedRating : "Select a rating" }}
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem (click)="setRating(undefined)">Any</button>
            <button ngbDropdownItem (click)="setRating('G')">G</button>
            <button ngbDropdownItem (click)="setRating('R')">PG</button>
            <button ngbDropdownItem (click)="setRating('R')">R</button>
            <button ngbDropdownItem (click)="setRating('R18')">R18</button>
          </div>
        </div>
      </div>
    </div>

    <button mat-raised-button (click)="resetFilters()" id="reset-button">
      Reset Filters
    </button>
  </div>

  <div class="genres">
    <button
      mat-button
      *ngFor="let genre of selectedGenres"
      (click)="removeGenre(genre)"
    >
      {{ genre }}
    </button>
    <button
      *ngIf="selectedYear !== undefined"
      mat-button
      (click)="removeFilter('year')"
    >
      {{ selectedYear }}
    </button>
    <button
      *ngIf="selectedSeason !== undefined"
      mat-button
      (click)="removeFilter('season')"
    >
      {{ selectedSeason }}
    </button>
    <button
      *ngIf="selectedRating !== undefined"
      mat-button
      (click)="removeFilter('rating')"
    >
      {{ selectedRating }}
    </button>
  </div>
</div>
