<div class="hero">
  <form>
    <mat-form-field>
      <mat-label>Search for animes</mat-label>
      <input
        [(ngModel)]="search"
        (ngModelChange)="searchAnimes()"
        name="search"
        matInput
      />
    </mat-form-field>
  </form>

  <div class="container-flex">
    <div class="row">
      <div class="col">
        <div ngbDropdown class="d-inline-block">
          <button
            type="button"
            class="btn btn-outline-primary"
            id="dropdownBasic1"
            ngbDropdownToggle
            [ngClass]="{
              'btn-selected': selectedYear !== undefined,
              'btn-outline-selected': selectedYear !== undefined
            }"
          >
            {{ selectedYear || "Select a year" }}
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button
              *ngFor="let year of years"
              ngbDropdownItem
              (click)="setYear(year.toString())"
            >
              <span
                [ngClass]="{
                  'dropdown-item-text': selectedYear == year.toString()
                }"
              >
                {{ year }}
                <i
                  class="fa-solid fa-check"
                  [ngStyle]="{
                    visibility:
                      selectedYear == year.toString() ? 'visible' : 'hidden'
                  }"
                  style="color: #a11313"
                ></i>
              </span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div ngbDropdown class="d-inline-block">
          <button
            type="button"
            class="btn btn-outline-primary"
            id="dropdownBasic1"
            ngbDropdownToggle
            [ngClass]="{
              'btn-selected': selectedGenres[0] !== undefined,
              'btn-outline-selected': selectedGenres[0] !== undefined
            }"
          >
            {{
              selectedGenres.length === 0
                ? "Select a genre"
                : selectedGenres.length === 1
                ? (selectedGenres[0] | capitalize)
                : (selectedGenres[0] | capitalize) +
                  " + " +
                  (selectedGenres.length - 1)
            }}
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem (click)="setGenre('')">Any</button>
            <button
              ngbDropdownItem
              (click)="setGenre(genre.slug)"
              *ngFor="let genre of availableGenres"
            >
              <span
                [ngClass]="{
                  'dropdown-item-text': selectedGenres.includes(genre.slug)
                }"
                >{{ genre.name }}
                <i
                  class="fa-solid fa-check"
                  [ngStyle]="{
                    visibility: selectedGenres.includes(genre.slug)
                      ? 'visible'
                      : 'hidden'
                  }"
                  style="color: #a11313"
                ></i
              ></span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div ngbDropdown class="d-inline-block">
          <button
            type="button"
            class="btn btn-outline-primary"
            id="dropdownBasic1"
            ngbDropdownToggle
            [ngClass]="{
              'btn-selected': selectedSeason !== undefined,
              'btn-outline-selected': selectedSeason !== undefined
            }"
          >
            {{
              selectedSeason ? (selectedSeason | capitalize) : "Select a season"
            }}
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem (click)="setSeason(undefined)">Any</button>

            <button
              ngbDropdownItem
              (click)="setSeason(season)"
              *ngFor="let season of seasons"
            >
              <span
                [ngClass]="{
                  'dropdown-item-text': selectedSeason == season
                }"
              >
                {{ season | capitalize }}
                <i
                  class="fa-solid fa-check"
                  [ngStyle]="{
                    visibility: selectedSeason == season ? 'visible' : 'hidden'
                  }"
                  style="color: #a11313"
                ></i>
              </span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div ngbDropdown class="d-inline-block">
          <button
            type="button"
            class="btn btn-outline-primary"
            id="dropdownBasic1"
            ngbDropdownToggle
            [ngClass]="{
              'btn-selected': selectedRating !== undefined,
              'btn-outline-selected': selectedRating !== undefined
            }"
          >
            {{ selectedRating ? selectedRating : "Select a rating" }}
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem (click)="setRating(undefined)">Any</button>

            <button
              ngbDropdownItem
              (click)="setRating('G')"
              *ngFor="let rating of ratings"
            >
              <span
                [ngClass]="{
                  'dropdown-item-text': selectedRating == rating
                }"
              >
                {{ rating }}
                <i
                  class="fa-solid fa-check"
                  [ngStyle]="{
                    visibility: selectedRating == rating ? 'visible' : 'hidden'
                  }"
                  style="color: #a11313"
                ></i>
              </span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <button mat-raised-button (click)="resetFilters()" id="reset-button">
      Reset Filters
    </button>
  </div>

  <div class="selected-filters">
    <button
      mat-button
      *ngFor="let genre of selectedGenres"
      (click)="removeGenre(genre)"
    >
      {{ genre }}
      <i class="fa-solid fa-circle-xmark" style="color: #005cbb"></i>
    </button>
    <button
      *ngIf="selectedYear !== undefined"
      mat-button
      (click)="removeFilter('year')"
    >
      {{ selectedYear }}
      <i class="fa-solid fa-circle-xmark" style="color: #005cbb"></i>
    </button>
    <button
      *ngIf="selectedSeason !== undefined"
      mat-button
      (click)="removeFilter('season')"
    >
      {{ selectedSeason }}
      <i class="fa-solid fa-circle-xmark" style="color: #005cbb"></i>
    </button>
    <button
      *ngIf="selectedRating !== undefined"
      mat-button
      (click)="removeFilter('rating')"
    >
      {{ selectedRating }}
      <i class="fa-solid fa-circle-xmark" style="color: #005cbb"></i>
    </button>
  </div>
</div>
