<div class="hero">
  <div class="row">
    <div class="col">
      <div ngbDropdown class="d-inline-block">
        <button
          type="button"
          class="btn btn-outline-primary"
          id="dropdownBasic1"
          ngbDropdownToggle
        >
          {{ selectedYear }}
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem (click)="setYear('2022')">2022</button>
          <button ngbDropdownItem (click)="setYear('2023')">2023</button>
          <button ngbDropdownItem (click)="setYear('2022')">2022</button>
          <button ngbDropdownItem (click)="setYear('2021')">2021</button>
          <button ngbDropdownItem (click)="setYear('2020')">2020</button>
          <button ngbDropdownItem (click)="setYear('2019')">2019</button>
          <button ngbDropdownItem (click)="setYear('2018')">2018</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div ngbDropdown class="d-inline-block">
        <button
          type="button"
          class="btn btn-outline-primary"
          id="dropdownBasic1"
          ngbDropdownToggle
        >
          {{ selectedGenre }}
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button
            ngbDropdownItem
            (click)="setGenre(genre.slug)"
            *ngFor="let genre of availableGenres"
          >
            {{ genre.name }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
