.hero {
  display: flex;
  flex-direction: column;
  gap: 0;
  margin-bottom: 32px;
}

.container-flex {
  width: 100%;
  height: 10vh;
  margin: 0;
  padding-inline: 3%;
  gap: 24px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

form {
  display: flex;
  justify-content: center;
  margin: 50px 0 16px 0;
}

mat-form-field {
  width: 60%;
}

#reset-button {
  margin-left: 32px;
}

.btn-selected {
  color: #a11313;
}

.btn-outline-primary {
  border-width: 2px;
}

.btn-outline-selected {
  border-color: #a11313;
}

.genres {
  height: 64px;
  color: white;
  display: flex;
  justify-content: center;
}

.genres div {
  background-color: darkolivegreen;
  width: 80%;
  height: 100%;
}

.dropdown-item-text {
  color: #a11313;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.fa-solid {
  margin-left: 4px;
}
