<header>
  <a [routerLink]="['']">Home</a>
</header>

<section class="anime-landing">
  <div
    class="cover"
    [style.backgroundImage]="
      'url(' + animeData.attributes.coverImage.original + ')'
    "
  ></div>

  <div class="poster-text">
    <div
      class="poster"
      [style.backgroundImage]="
        'url(' + animeData.attributes.posterImage.original + ')'
      "
    ></div>

    <div class="text">
      <div class="titles">
        <span class="en">{{ animeData.attributes.titles.en }}</span>
        <span class="jp"
          >{{ animeData.attributes.titles.en_jp }} //
          {{ animeData.attributes.titles.ja_jp }}
        </span>
      </div>

      <p>{{ animeData.attributes.description }}</p>
    </div>
  </div>
</section>

<section class="info">
  <mat-card appearance="outlined" id="details">
    <mat-card-content>
      <p>Format</p>
      <p>{{ animeData.attributes.showType }}</p>
      <p>Episodes</p>
      <p>{{ animeData.attributes.totalLength }}</p>
      <p>Episode Duration</p>
      <p>{{ animeData.attributes.episodeLength }}</p>
      <p>Status</p>
      <p>{{ animeData.attributes.status }}</p>
      <p>Start Date</p>
      <p>{{ animeData.attributes.startDate }}</p>
      <p>End Date</p>
      <p>{{ animeData.attributes.endDate }}</p>
      <p>Average Score</p>
      <p>{{ animeData.attributes.averageRating }}</p>
      <p>Popularity</p>
      <p>{{ animeData.attributes.popularityRank }}</p>
      <p>Studios</p>

      <p>Genres</p>
      <button mat-button *ngFor="let genre of relationshipsData.genres">
        {{ genre }}
      </button>
    </mat-card-content>
  </mat-card>

  <mat-card id="relationships">
    <mat-card-content>
      <section id="characters">
        <p>Characters</p>
      </section>

      <section id="quotes">
        <p>Quotes</p>
      </section>

      <section id="castings">
        <p>Castings</p>
      </section>

      <section id="reviews">
        <p>Reviews</p>
      </section>
    </mat-card-content>
  </mat-card>
</section>
