<header>
  <a [routerLink]="['']">Home</a>
</header>

<div class="hero">
  <div
    class="cover"
    [style.backgroundImage]="
      'url(' + animeData.attributes.coverImage.original + ')'
    "
  ></div>

  <div class="poster-text">
    <div
      class="poster"
      [style.backgroundImage]="
        'url(' + animeData.attributes.posterImage.original + ')'
      "
    ></div>

    <div class="text">
      <div class="titles">
        <span class="en">{{ animeData.attributes.titles.en }}</span>
        <span class="jp"
          >{{ animeData.attributes.titles.en_jp }} //
          {{ animeData.attributes.titles.ja_jp }}
        </span>
      </div>

      <p>{{ animeData.attributes.description }}</p>
    </div>
  </div>
</div>
