<header>
  <a [routerLink]="['']"><i class="fa-solid fa-house"></i></a>
</header>

<section class="anime-landing">
  <div
    class="cover"
    [style.backgroundImage]="
      'url(' + animeData.attributes.coverImage.original + ')'
    "
  ></div>

  <div class="poster-text">
    <div
      class="poster"
      [style.backgroundImage]="
        'url(' + animeData.attributes.posterImage.original + ')'
      "
    ></div>

    <div class="text">
      <div class="titles">
        <span class="en text-body">{{
          animeData.attributes ? animeData.attributes.titles.en : null
        }}</span>
        <span class="jp text-body"
          >{{ animeData.attributes.titles.en_jp }} //
          {{ animeData.attributes.titles.ja_jp }}
        </span>
      </div>

      <p class="text-body">{{ animeData.attributes.description }}</p>
    </div>
  </div>
</section>

<section class="info">
  <div id="details">
    <mat-card appearance="outlined">
      <mat-card-content>
        <p class="text-details-subtitles">Format</p>
        <p>{{ animeData.attributes.showType }}</p>

        <p class="text-details-subtitles">Episodes</p>
        <p>{{ animeData.attributes.totalLength }}</p>

        <p class="text-details-subtitles">Episode Duration</p>
        <p>{{ animeData.attributes.episodeLength }}</p>

        <p class="text-details-subtitles">Status</p>
        <p>{{ animeData.attributes.status }}</p>

        <p class="text-details-subtitles">Start Date</p>
        <p>{{ animeData.attributes.startDate }}</p>

        <p class="text-details-subtitles">End Date</p>
        <p>{{ animeData.attributes.endDate }}</p>

        <p class="text-details-subtitles">Average Score</p>
        <p>{{ animeData.attributes.averageRating }}</p>

        <p class="text-details-subtitles">Popularity</p>
        <p>{{ animeData.attributes.popularityRank }}</p>

        <!-- <p class="text-details-subtitles">Studios</p> -->

        <p>Genres</p>
        <button mat-button *ngFor="let genre of relationshipsData.genres">
          {{ genre }}
        </button>
      </mat-card-content>
    </mat-card>

    <!-- <mat-card appearance="outlined">
      <mat-card-content>
        <p>Reviews</p>
      </mat-card-content>
    </mat-card> -->
  </div>

  <mat-card id="relationships">
    <mat-card-content>
      <section id="characters">
        <p>Characters</p>
        <app-character-card
          *ngFor="let character of relationshipsData.characters"
          [characterData]="character"
        ></app-character-card>
      </section>
    </mat-card-content>
  </mat-card>
</section>
