<p-carousel
  [value]="animeData.data"
  [numVisible]="5"
  [numScroll]="4"
  [circular]="false"
>
  <ng-template let-anime pTemplate="item">
    <div class="product-item">
      <div class="product-item-content">
        <div class="p-mb-3"></div>
        <div>
          <a [routerLink]="['/anime', anime.id]">
            <img
              class="product-image"
              src="{{ anime.attributes.posterImage.medium }}"
            />
          </a>
          <a [routerLink]="['/anime', anime.id]">
            <h4 class="p-mb-1">
              {{ anime.attributes.canonicalTitle }}
            </h4>
          </a>
        </div>
      </div>
    </div>
  </ng-template>
</p-carousel>
