.carousel-inner {
  display: flex;
  justify-content: center;
}

.carousel-item {
  margin-right: 0;
  flex: 0 0 calc(100% / 3);
}

.active {
  display: flex;
  width: 100%;
}

.carousel-inner {
  padding: 1em;
  background-color: darkcyan;
}

.card {
  margin: 0 0.5em;
}

#carouselExample {
  max-height: 500px;
}

.product-item-content {
  border: 1px solid var(--surface-d);
  border-radius: 3px;
  margin: 0.3rem;
  text-align: center;
  padding: 2rem 0;
}

.product-image {
  width: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
