.carousel-inner {
  display: flex;
  justify-content: center;
}

.carousel-item {
  margin-right: 0;
  flex: 0 0 calc(100% / 3);
}

.active {
  display: flex;
  width: 100%;
}

.carousel-inner {
  padding: 1em;
  background-color: darkcyan;
}

.card {
  margin: 0 0.5em;
}

#carouselExample {
  max-height: 500px;
}
